* {
    box-sizing: border-box;
}
body {
    margin: 0;
    padding: 0;
    background: url("images/background.png");
    background-position: center;
    background-size: 100% 110%;
    width: 100%;
    min-height: 100vh;
    font-family: 'Lato', sans-serif;
}
.container {
    display: flex;
    min-height: 100vh;
}
.content {
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    user-select: none;
}
.text {
    color: #fff;
    font-size: 70px;
    font-weight: bold;
    margin-bottom: 20px;
    letter-spacing: 2px;
    animation: shake .8s infinite ease-in;

}
.btn-yes {
    margin-top: 20px;
    background-color: #ff4ae7;
    border: 3px solid #fff;
    min-width: 120px;
    height: 50px;
    border-radius: 30px;
    color: #fff;
    font-weight: bold;
    font-size: 18px;
    padding: 10px;
}
.btn-yes:hover {
    background-color: #e0e341;
}
.overlay {
    display: none;
    flex-direction: column;
    position: absolute;
    z-index: 10;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background: linear-gradient(to right, #489, rgb(54, 61, 117));
    opacity: 0;
    animation: appear .4s forwards ease;
    user-select: none;
}
.frase {
    display: flex;
    flex-direction: column;
    color: #fff;
    font-weight: 400;
    font-size: 23px;
    letter-spacing: 2px;
    background-color: #489;
    padding: 3px;
    width: fit-content;
    animation: appear 1.5s forwards ease;
    animation: right 1.8s forwards;
}
.overlay .cont-bolita-blanca {
    width: fit-content;
    margin: 120px auto 0;
    animation: appear 1.5s forwards ease;
}
.bolita-blanca {
    width: 240px;
    animation: up 1.8s forwards;
}
.text-congrats {
    margin: 37px 50px 0 20px;
    color: #ffe5ef;
    font-size: 20px;
    animation: appear 1.8s forwards ease;
    animation: color 2s forwards ease;   
}
.cont-meme {
    margin: 0;
    padding: 0;
    position: absolute;
    bottom: 0;
    right: 0;
    transform: scaleX(-1);
    animation: appear 2s forwards ease-out;
}
.meme {
    background: url("images/beti-yo-a-usted.jpg");
    width: 210px;
    height: 240px;
}
.text-meme {
    transform: scaleX(-1);
    color: #fff;
    background-color: #000;
    position: absolute;
    bottom: 8px;
    left: 10px;
    letter-spacing: 1px;
    font-size: 16px;
    animation: appear 2s forwards ease-out;
}
@media only screen and (max-width:400px) {
    body {
        background-size: 140% 125%;
    }
}
@media only screen and (max-height:700px) {
    .frase {
        font-size: 20px;
    }
    .overlay .cont-bolita-blanca {
        margin: 50px auto 0;
    }
    .bolita-blanca {
        width: 200px;
    }
    .text-congrats {
        margin: 5px 10px 0 40px;
    }
    .meme {
        width: 180px;
        height: 200px;
        object-fit:fill;
        object-position: 80px;
    }
    .text-meme {
        font-size: 11px;
    }
}
@media only screen and (min-height:900px) {
    body {
        background-size: 140% 120%;
    }
    .text-congrats {
        margin: 37px 50px 0 20px;
    }
}
@media only screen and (min-width:600px) {
    .frase {
        font-size: 29px;
    }
    .overlay .cont-bolita-blanca {
        margin: 70px auto 0;
    }
    .bolita-blanca {
        width: 300px;
    }
    .text-congrats {
        margin: 5px 100px 0 40px;
    }
}
@keyframes shake {
    0% {
        transform: rotate(0deg);
    }
    33% {
        transform: rotate(-3deg);
    }
    66% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(3deg);
    }
}
@keyframes appear {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}
@keyframes up {
    0% {
        transform: translateY(20px);
    }
    100% {
        transform: translateY(0px);
    }
}
@keyframes right {
    0% {
        transform: translateX(-20px);
    }
    100% {
        transform: translateX(0px);
    }
}
@keyframes color {
    0% {
        color: #489;
    }
    100% {
        color: #ffe5ef;
    }
}
